.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* margin-left: 10rem; */
     padding-top: 2.5rem;
}

.portfolio-item{
    /* background: var(--color-bg-variant); */
    padding: 1rem;
    /* border-radius: 2rem; */
    /* border: 1px solid transparent; */
    transition: var(--transition);
}

.portfolio-item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_image{
    border-radius: 1.5rem;
    overflow: hidden;
    /* background-color: red; */
    height: 80%;
    width: 80%;
    border: 1px solid var(--color-white);
}

/* .portfolio_image img{
border: 1px solid var(--color-white);
} */



.portfolio_item h3{
    margin: 1.2 0 2rem;
   /* padding-top: 1rem; */
   /* text-align: center; */
}

  

.project-button{
    width: max-content;
    display: inline-block;
    color: var(--color-bg);
    padding: 0 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    background: var(--color-primary);
    
}

/* Media Queries - Tablets */
@media screen and (max-width: 1024px) {
    .portfolio-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Media Queries - Phones */
  @media screen and (max-width: 600px) {
    .portfolio-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  
  /* Media Queries - Small screen phones */
  @media screen and (max-width: 480px) {
    .portfolio-container {
      padding-top: 1.5rem;
    }
  }