header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header_social_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  top: 28rem;
  left: 5rem;
}
.social-icon{
  font-size: 1.5rem;
}

.me {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
}

.me img {
  margin-top: 0.5rem;
  border-radius: 2rem;
  height: 21rem;
  width: 22rem;
}

.Scroll_down {
  position: absolute;
  right: 0.5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Media Queries - medium device */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* Media Queries - small device */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .me {
    width: 12rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
  }

  .me img {
    height: 12rem;
    width: 12rem;
  }

  .header_social_media {
    position: absolute;
    top: 20rem;
    left: 1.2rem;
  }

  .Scroll_down {
    display: none;
  }
}

/* Media Queries - extra small device */
@media screen and (max-width: 360px) {
  .me {
    width: 10rem;
    height: 12rem;
  }

  .me img {
    height: 10rem;
    width: 10rem;
  }

  .header_social_media {
    top: 16rem;
  }
}
